<div style="background-color:	#41e5d3; text-align:center; vertical-align: middle; padding:40px 0; margin-top:30px">
<h1 style="color:white">ML - Verhuuraantallen voorspellen</h1>
<b style="color:white">Jasper Duncker, Julia Boschman, Nima Agha Ghafar Hamedani</b>
    </div>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# models
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor

# metrics etc
from sklearn.metrics import confusion_matrix, classification_report, ConfusionMatrixDisplay
from sklearn.model_selection import GridSearchCV, KFold
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

### Bestanden importeren

In [10]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
Xtest = test.drop(['date_hour'],axis=1)
train

,date_hour,holiday,weathersit,temp,atemp,hum,windspeed,cnt
0,2011-01-01 00:00:00,0,1,0.24,0.2879,0.81,0.0000,16
1,2011-01-01 01:00:00,0,1,0.22,0.2727,0.80,0.0000,40
2,2011-01-01 02:00:00,0,1,0.22,0.2727,0.80,0.0000,32
3,2011-01-01 03:00:00,0,1,0.24,0.2879,0.75,0.0000,13
4,2011-01-01 04:00:00,0,1,0.24,0.2879,0.75,0.0000,1
...,...,...,...,...,...,...,...,...
16632,2012-11-30 19:00:00,0,1,0.32,0.3485,0.66,0.0000,377
16633,2012-11-30 20:00:00,0,1,0.32,0.3485,0.66,0.0000,245
16634,2012-11-30 21:00:00,0,1,0.30,0.3182,0.75,0.0896,183
16635,2012-11-30 22:00:00,0,1,0.30,0.3333,0.75,0.0000,163
16636,2012-11-30 23:00:00,0,2,0.30,0.3182,0.75,0.0896,110

### Metric Functie

In [8]:
def train_test_model(model):
    """
    Traint het opgegeven model met behulp van de meegeleverde trainingsgegevens en evalueert het met de testgegevens.

    Parameters:
    ----------
    model : model vergelijkbaar met sklearn
        Het model dat getraind en geëvalueerd moet worden.
    
    Returns:
    -------
    RMSE :
        Deze functie drukt de RMSE score van het model op de testgegevens af.
    
        
    """

    model.fit(X_train,y_train)
    y_pred= model.predict(X_test)
    MSE = mean_squared_error(y_test, y_pred)
    RMSE = MSE**0.5
    R2 = r2_score(y_test, y_pred)
    MAE = mean_absolute_error(y_test, y_pred)
    return print('R2:',R2,
                 '\nMAE:', MAE,
                 '\nMSE:',MSE,
                 '\nRMSE:',RMSE)

### Train, test, split

In [11]:
from sklearn.model_selection import train_test_split
X = train.drop(['date_hour','cnt'],axis=1)
y = train['cnt']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=27)

### LinearReg

In [13]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

train_test_model(lin_reg)
lin_reg_pred = lin_reg.predict(Xtest)
lin_reg_pred

R2: 0.26574843016938676
MAE: 115.33913243900095
MSE: 23816.522099910337
RMSE: 154.3260253486441

array([ 47.59727422,  47.59727422,  54.37641986,  49.2247863 ,
        45.74868554,  16.77278317,  13.4697383 ,  20.24888393,
        20.24888393,   8.49212895,  28.77929117,  87.76423152,
        72.663265  ,  95.87297953, 117.23410538, 156.99958126,
       138.56417788,  94.49674502,  95.87297953,  74.54290703,
        67.76376139,  50.25605872,  50.25605872,  74.54290703,
        48.40747003,  48.40747003,  50.25605872,  19.26775024,
        19.26775024,  19.26775024,   2.69454912,   2.69454912,
        17.41916155,  17.0764013 ,  50.25605872,  70.33915198,
        77.04061214, 130.98692666, 171.69711089, 153.28332484,
       159.11776212, 128.96872708, 144.48914978, 104.63524664,
       111.3367068 , 133.64571116, 132.69783265, 109.44411995,
       110.39199846,  95.96351415, 118.24146516,  70.34486042,
        46.08906544,  37.50796325,  46.08906544,  46.13569758,
        46.08906544,  79.91783929, 124.02610016, 137.46007382,
       178.17342821, 231.08364397, 262.54012906, 253.76296166,
       266.79765695, 190.9094537 , 169.07597368, 169.07597368,
       133.24917807, 111.29007467, 101.72026596, 101.72026596,
        84.16593116, 101.72026596,  83.69357698,  88.11404744,
        88.11404744,  94.36477075,  52.86821108,  85.1106395 ,
        99.57017715, 115.15423963, 117.99153484, 139.35266068,
       179.11813656, 203.38797722, 242.12031749, 289.06486617,
       257.71381599, 206.39751728, 187.96211391, 169.55776387,
       194.74125954, 195.68596789, 197.10620057, 170.50247222,
       201.55759064, 221.41322669, 160.93266351, 166.7172985 ,
       195.06010716, 201.55759064, 223.43013115, 202.15426241,
       191.12702491, 209.71449533, 225.67491309, 225.30799382,
       234.08516123, 240.78662139, 277.54738356, 270.92491464,
       264.19240114, 251.63949604, 250.11238893, 210.43217015,
       170.3505847 , 171.29529304, 166.574847  , 148.13944363,
       134.31837289, 134.31837289, 111.19391546, 102.28398397,
       100.87669612, 100.40434194, 100.87669612, 112.57958599,
       112.57958599, 124.77644735, 113.07355748, 135.25330656,
       171.35868645, 183.91159155, 173.28583546, 190.64410505,
       181.86693765, 164.98102223, 150.73193413, 101.08934529,
       103.01878961,  99.24339057,  78.7835111 ,  78.7835111 ,
        66.9824193 ,  67.18969869,  81.40773345,  46.4283191 ,
        59.05526712,  48.28007795,  69.73940573,  58.96421655,
        77.41662758,  62.65875997,  84.96776432,  85.91247267,
       107.24254517, 126.71108416, 113.03035033, 113.03035033,
        90.67471384, 138.56417788, 127.24838508, 109.3069532 ,
       119.39891838,  51.46092323,  50.98856905,  50.98856905,
        50.98856905,  47.71657752,  47.71657752,  51.46092323,
        52.86821108,  51.46092323,  51.46092323,  30.50851178,
        59.48441414,  56.64394877,  88.11404744,  87.16933909,
        90.95451281,  89.06192595,  92.84709967, 103.61285282,
       103.61285282,  74.6023883 ,  80.39019346,  77.07737392,
        32.3881538 ,  32.3881538 ,  59.95676832,  63.37646228,
        88.11404744,  87.16933909,  87.16933909,  87.16933909,
        66.68928182,  87.16933909,  73.46842745,  97.73365844,
        95.84107159,  91.89922116,  92.84709967,  93.31945384,
       107.94806618,  86.11458616,  83.2741208 ,  55.44360166,
        55.44360166,  54.49572315,  57.76771469,  66.26355978,
        37.28765741,  30.98086595,  58.24006886,  37.28765741,
        37.28765741,  32.3881538 ,  59.95676832,  59.95676832,
        59.95676832,  59.95676832,  61.84935517,  64.68665038,
        60.56628924,  59.62158089,  83.9084292 ,  97.389035  ,
        73.13324003,  73.13324003, 104.04386303, 122.63133345,
       117.81302413, 134.34365934, 110.05681103, 155.62709971,
       102.32978689,  89.66201085, 139.15253265, 102.32978689,
       154.69666438, 144.78638008, 155.70750418, 104.24594994,
        90.76534414, 108.87322741, 101.14620326, 112.78084368,
       130.40342794, 126.46474768, 147.69661825, 167.1233621 ,
       165.27477341, 192.47373062, 192.47373062, 192.47373062,
       192.47373062, 142.65271491, 142.65271491, 142.65271491,
       142.65271491, 146.4249438 , 127.17408734, 138.87697722,
       141.67344441, 105.8129615 , 118.54898698, 103.88581249,
       109.03744605, 101.08934529, 105.04097039, 107.86849093,
        92.29517024, 114.47174916, 136.74970018, 161.13475042,
       195.34754345, 195.34754345, 183.64465357, 182.26841906,
       178.49302001, 149.43186055, 161.13475042, 133.95323298,
       140.76956407, 146.6008312 , 145.65612285, 127.22071948,
       138.92360935, 136.12714215, 116.74386027, 117.69173878,
       119.5713808 , 118.62667245, 109.96471463,  90.61565625,
        89.66777774, 133.08917206, 167.95108151, 182.51288391,
       195.06578901, 215.44764436, 214.50293601, 213.5550575 ,
       195.9693307 , 180.45964979, 180.45964979, 162.15350169,
       166.35725674, 150.87862917, 107.18885736, 109.03744605,
        82.05199382,  67.42338148,  69.27197017,  56.4741681 ,
        38.44747912,  56.4741681 ,   6.13713989,  42.9768933 ,
        56.00181393,  48.57840791,  39.64917347, 106.59616679,
       168.63608487, 169.58396338, 211.95927726, 199.31167904,
       173.04381661, 140.47880574, 178.44638788, 154.53686198,
       125.81563125,  74.38182765,  65.78778063,  70.00448051,
        93.21419504,  52.52783117,  47.59727422,  47.67495969,
        24.02428298,  71.93075467,  65.2292945 ,  58.66059842,
        70.08216598,  59.05526712, 122.0744557 , 131.13108223,
       181.4370571 , 174.93640346, 190.53451163, 200.80773281,
       189.58663313, 192.42709849, 160.39621839, 131.63482839,
       154.93517323, 131.63482839, 133.52741525, 138.41397403,
       143.56560759, 101.27589065,  61.8414437 ,  60.43098568,
        63.69003238,  63.69003238,  63.69003238,  61.8414437 ,
        65.27091233,  65.27091233,  65.27091233,  65.27091233,
        97.90273314, 115.45706795, 113.56448109,  95.06543793,
        95.06543793,  95.06543793, 101.84458357,  40.93743188,
        91.75261839,  52.86821108, 104.63524664,  47.71657752,
        77.12400605,  80.43682559,  56.64394877,  52.86821108,
        39.16729944,  77.12400605,  47.71657752,  47.71657752,
        80.43682559,  83.85651955,  79.96447142,  86.69698492,
        83.85651955,  88.11404744,  86.69698492,  87.63225725,
        78.19830951,  71.41916388,  66.21692764,  91.88978514,
        78.12062404,  74.33545033,  74.33545033,  83.95506133,
        81.06796383,  81.06796383, 101.46276401,  87.00322636,
       103.61285282,  73.18532578,  41.88531039,  40.93743188,
        49.86480314,  79.91783929, 122.60903763, 181.26065374,
       239.64949038, 251.29487259, 228.43769298, 238.63192291,
       239.7629218 , 208.30225915, 200.7102944 , 202.60288126,
       165.80856433, 169.58396338, 158.67917909, 166.23975185,
       114.8566432 , 105.99421869,  99.26170519,  59.99997547,
        48.57840791,  63.30302034,  51.88145279,  59.99997547,
        17.24513734,  65.78778063,  98.53942069, 180.72420862,
       182.61679548, 198.18068015, 198.18068015, 201.02114551,
       203.38608654, 197.63250489, 189.95211288, 190.89999139,
       149.1039061 , 125.97944867, 131.13108223, 111.18701891])